<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Raymond van Barnebot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="module" src="{{ url_for('static', filename='js/main.mjs') }}"></script>
</head>
<body>

<main>
    <h1>Raymond van Barnebot</h1>
    <button type="button" id="shoot-state-button">Activeer magneet</button>

    <form action="{{ url_for('api.submit_command') }}" method="post" id="command-form">
        <label for="command">Commando:</label>
        <input id="command" type="text" name="command" autocomplete="off"/>
        <button type="submit">Verstuur</button>
    </form>
</main>

<dialog id="result-dialog">
    <form id="result-form" method="post" action="{{ url_for('api.submit_results') }}">
        <h2>Wat is het resultaat?</h2>
        <p>Combineren is mogelijk</p>

        <label for="perfect">
            <input type="checkbox" id="perfect" name="result" value="0"/>
            Raak
        </label>
        <label for="left">
            <input type="checkbox" id="left" name="result" value="4"/>
            Te veel naar links
        </label>
        <label for="right">
            <input type="checkbox" id="right" name="result" value="8"/>
            Te veel naar rechts
        </label>
        <label for="high">
            <input type="checkbox" id="high" name="result" value="1"/>
            Te hoog
        </label>
        <label for="low">
            <input type="checkbox" id="low" name="result" value="2"/>
            Te laag
        </label>

        <button type="submit">Opslaan</button>
    </form>
</dialog>

<dialog id="calibration-dialog">
    <h2>Calibreren....</h2>
    <p>1. Plaats de robot in lijn met het dartboard.</p>
    <p>2. Schat de afstand tot het board</p>
    <p>3. Schat de hoogte van de tafel waar de robot op staat MAX 1.73m</p>
    <p>4. Pas waardes aan indien nodig</p>

    <form id="calibration-form" method="post" action="#">
        <label for="X">
            Voer de afstand naar het bord in (Schatting)
            <input type="text" id="X" name="result" value="2.37"/>
        </label>
        <br>
        <br>
        <label for="Y">
            Voer de tafel hoogte in (Schatting)
            <input type="text" id="Y" name="result" value="0.6"/>
        </label>
        <br>
        <br>
        <button type="submit" id="calibrate">Schiet</button>
    </form>

</dialog>

</body>
</html>
