body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

svg {
    max-height: calc(100vh - 4rem);
}

main {
    display: flex;
    padding: 8px;
    flex-flow: column nowrap;
    align-items: start;
    gap: 8px;
}

#command-form {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

#result-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    align-items: start;
}

#result-form h2 {
    margin: 0;
}
